/* CODIGO LINK CON INDEX.HTML */
:root{
  --primary: #fff;
  --bg-color: rgb(5, 53, 61);
  --bg-envelope-color: #f5edd1;
  --envelope-tab: #ecdeb8;
  --envelope-cover: #e6cfa7;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #444;
  --heart-color: rgb(190, 81, 128);
}
.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}
.ness-font {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


body{
  margin: 0;
  padding: 0;
  background-image: url('fondo.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* BOTON FLOTANTE */

.floating-btn {
  position: fixed;
  bottom: 100px;
  right: 100px;
  background-color: #111351; /* un rosa fuerte */
  color: white;
  padding: 12px 18px;
  border-radius: 9999px;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: opacity 0.4s ease;
  z-index: 10;
}
.floating-btn:hover {
  background-color: #8989aa; /* un rosa más oscuro */
  transform: scale(1.5);
}

.floating-btn.hidden {
  opacity: 0;
  pointer-events: none;
}

.floating-btn.visible {
  opacity: 1;
  pointer-events: auto;
}

.zoom:hover{
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 2s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake2 {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake2 2s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake2 {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  /* 10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); } */
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.saltitos {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: saltitos 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes saltitos {
  0% { transform: translate(0px, 1px) rotate(0deg); }
  30% { transform: translate(0px, 3px) rotate(0deg); }
  40% { transform: translate(0px, 5px) rotate(0deg); }
  50% { transform: translate(0px, 7px) rotate(0deg); }
  60% { transform: translate(0px, 9px) rotate(0deg); }
  70% { transform: translate(0px, 7px) rotate(0deg); }
  80% { transform: translate(0px, 5px) rotate(0deg); }
  90% { transform: translate(0px, 3px) rotate(0deg); }
  100% { transform: translate(0px, 1px) rotate(0deg); }
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.spin:hover{
  
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}